name: Python Package using Conda

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: "3.12"
        activate-environment: immich-animals
        environment-file: environment.yml
        auto-activate-base: false
        # Use mamba for faster resolution (optional, but recommended)
        # mamba-version: "*"
        # use-mamba: true 

    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e .[dev]

    - name: Lint with ruff
      shell: bash -l {0}
      run: |
        ruff check .

    - name: Check formatting with ruff
      shell: bash -l {0}
      run: |
        ruff format --check .


    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest