name: Python Package using Conda

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: "3.12"
        activate-environment: immich-animals
        environment-file: environment.yml
        auto-activate-base: false
        # Use mamba for faster resolution (optional, but recommended)
        # mamba-version: "*"
        # use-mamba: true 

    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e .

    - name: Lint with flake8
      shell: bash -l {0}
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings.
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics


    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest